*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: solid 1px   ;
    
    background-color: black;
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.subcontainer{
    background-color: rgba(99, 99, 99, 0.5) ;
    width: 25%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 5px;
    color: aliceblue;
    box-shadow: 0px 0px 20px  rgb(255, 255, 255);
    
}
.pokemon{
    text-align: center;
    width: 40%;
    height: 30%;
    border: solid 1px;
    border-radius: 50%;
    background-color: rgba(76, 0, 130, 0.503);
    font-size: 15px;
    box-shadow: 0px 0px 25px black;
    
}
.imagen-pkemon{
    width: 100%;
    height: 100%;
}
h2{
    margin-top: 35px;
}
.informacion{
    text-align: center;
    width: 200px;
    height: 40%;
}
.boton{
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(https://w7.pngwing.com/pngs/223/715/png-transparent-poke-ball-thumbnail.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.nombre{
    width: 80%;
}
@media(min-width:100px){
    .subcontainer{
        width: 90%;
        height: 80%;
    }
    .pokemon{
        width: 40%;
    }
}
@media(min-width:768px){
    .subcontainer{
        width: 80%;
        height: 80%;
    }
    .pokemon{
        width: 25%;
    }
}
@media(min-width:1024px){
    .subcontainer{
        width: 50%;
        height: 60%;
    }
    .pokemon{
        width: 20%;
    }
}
@media(min-width:1440px){
    .subcontainer{
        width: 60%;
        height: 60%;
    }
}
@media(min-width:2560px){
    .subcontainer{
        width: 40%;
        height: 50%;
       
    }
    .pokemon{
        width: 30%;
        height: 40%;
    }
    
    p{
        font-size: 25px;
    }
    h2{
        font-size: 25px;
        margin-top: 30%;
    }
    h3{
        font-size: 25px;
    }
    .nombre{
        height: 40px;
    }
    .informacion{
        width: auto;
    }
}



